<div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
        <div class="row slider-text align-items-center" data-scrollax-parent="true">

            <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                <span class="subheading">{it.subheading}</span>
                <h1 class="mb-4">{it.header}</h1>
                <p class="mb-4 mb-md-5">{it.description}</p>
                <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">{it.action1}</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">{it.action2}</a></p>
            </div>
            <div class="col-md-6 ftco-animate">
                <img src="{it.backgroundImg}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
